@import 
url('https://fonts.googleapis.com/css2?family=Inter&family=M+PLUS+1&family=Poppins&display=swap');

:root {
    --primary-color:  #007AF3;
}

body {
    background: #F2F2F2;
    margin: 0;
    font-family: 'Times New Roman';
}

section {
    padding: 5em 2em;
}

.navbar {
    background: white;
    padding: 1.5em;
}

header {
    display: flex;
    justify-content: space-between;

    .logo {
        width: 6em;
        height: 2em;
        object-fit: contain;
    }
    .menu {
        cursor: pointer;
    }
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    background: white;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    transform: translateX(100%);

    ul {
        list-style-type: none;
        margin-top: 10rem;

        li a {
            text-decoration: none;
            color: black;
            display: block;
            padding: .5em;
            text-align: center;

            &:hover {
                font-weight: bold;
            }
            
        }
    }
    .close {
        float: right;
        margin: 1.5rem;
        cursor: pointer;
    }
}

.hero {
    text-align: center;

    p {
        line-height: 2rem;
        color: gray;
        font-size: .9rem;
    }
}

.portfolio {
    text-align: center;
    background: white;

    h2 {
        margin-bottom: 4rem;
    }

    .portfolio-list {
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
        gap: 2rem;

        li {
            border: 3px solid rgba(249,249,249, 0.1);
            box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
           rgb(0 0 0 /73%) 0px 16px 10px -10px;
        }

        .image-container {
            position: relative;
            display: inline-block;
        
            .image {
                display: block;
                width: 100%; 
                height: 100%;
                object-fit: cover;
            }
        
            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                background-color: rgba(0, 0, 0, 0.8);
                transition: opacity 0.3s ease;    
            }
        
            .overlay-content {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                color: #fff;  
            }
          
          }
          .overlay-title {
            font-size: 24px;
            margin-bottom: 10px;
          }
          
          .overlay-description {
            font-size: 16px;
          }
          
          .image-container:hover .overlay {
            opacity: 1;
          }
    }
}

.contact {
    h2 {
        margin-bottom: 4rem;
        text-align: center;
    }

    label {
        display: block;
        margin-bottom: 1rem;
        font-size: .9rem;
        font-weight: bold;
    }

    input, textarea {
        width: 100%;
        padding: .5rem;
        margin-bottom: 1rem;
        border: 1px solid gray;
        border-radius: .3rem;
        outline: none;
    }

    input[type="button"]{
        width: unset;
        border: none;
        background:  var(--primary-color);
        color: white;
        font-weight: bold;
        border-radius: 5em;
        font-size: 1rem;
        padding: .6em 1.2em;
        cursor: pointer;
        margin-bottom: 8rem;
    }
}

.footer {
    text-align: center;
    background: white;

    p {
        padding: 1.5em;
        color: gray;
        font-size: .9rem;
        letter-spacing: .1em;
    }
}

.scroll-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    cursor: pointer;
    border: none;
}

.open-nav {
    transform: translateX(0%);
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

@media only screen and (min-width: 768px){
    .menu, .close {
        display: none;
    }

    header {
        padding: 0 6rem;
    }

    nav {
        transform: translateX(0);
        position: unset;
        width: auto;
        height: auto;
        background: none;

        ul {
            display: flex;
            margin: 0;

            li a {
                padding: .5em 1.5em;
                font-size: 1.2rem;
            }
        }
    }

    .hero {
        p {
            padding: 0 10rem;
        }
    }

    .contact {
        padding: 0 22rem;
    }
}